
body{
  background-color: rgba(0, 0, 0, 0.477);
}
.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
  
}
h1{
  font-size: 4rem;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.Add-btn{
  background-color: rgb(13, 20, 221);
}
.Add-btn:hover{
  background-color: rgb(16, 19, 109);
}
.delete-btn{
  background-color: rgb(216, 32, 32);
}
.delete-btn:hover{
  background-color: rgb(155, 23, 23);
}
.moveUp-btn{
  background-color: rgb(26, 211, 26);
}
.moveUp-btn:hover{
  background-color: rgb(18, 184, 18);
}
.moveDown-btn{
  background-color: rgb(26, 211, 26);
}
.moveDown-btn:hover{
  background-color: rgb(18, 184, 18);
}
input[type='text']{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgba(21, 21, 21, 0.303);
  border-radius: 5px;
  margin: 10px;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.405);
  margin-bottom: 10px;
  border: 3px solid rgba(0, 0, 0, 0.268);
  border-radius: 5px;
  display: flex;
  align-items: center;
  
}
.text{
  flex:1;

}
.delete-btn, .moveUp-btn,.moveDown-btn{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}


